<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" th:href="@{/css/board.css}" />
<title>새글등록</title>
</head>
<body>
<div id="wrapper">
<div id="title">
<h3>새글 등록하기</h3>
</div>
<hr>
<div class="content">
   <form th:action="@{/board/insertBoardProc}" method="post" enctype="multipart/form-data">
   <input type="file" multiple="multiple" name="files">
      <table class="insertBoardProc">
         <colgroup>
            <col width="30%" >
            <col width="70%" >
         </colgroup>
         <tr>
            <td width="70">제목</td>
            <td class="alignLeft">
               <input type="text" name="title"/>
            </td>
         </tr>
         <tr>
         	<td width="70">카테고리</td>
            	<td class="alignLeft">
               	<select name="category">
					<option th:value="전체">공지</option>
					<option th:value="자유">자유</option>
					<option th:value="기타">기타</option>
				</select>
           	</td>
         </tr>
         
         <tr>
            <td bgcolor="orange" th:text="작성자"></td>
            <td><span sec:authentication="principal.member.name"></span></td>
          
         </tr>
         <tr>
            <td>내용</td>
            <td class="alignLeft">
               <textarea name="content" cols="40" rows="10"></textarea>
            </td>
         </tr>
         <tr>
            <td colspan="2" class="alignCenter">
               <input type="button" value=" 목록 "
               th:onclick="event.preventDefault(); location.href='/board/listBoard'; "/>
               <input type="submit" value=" 새글 등록 "/>
            </td>
         </tr>
      </table>
   </form>
</div>
<hr>
</div>
</body>
</html>